body {
    background-color: black;
}

.background {
    background-image: url("background/background.jpg");
    width: 1900px;
    height: 1000px;
    background-size: cover;
    position: absolute;
}

.link {
    text-align: center;
}

h1, a {
    color: white;
    position: relative;
}