{{ template "layout" . }}

{{ define "title" }} {{ . }} {{ end }}
{{ define "style" }} <link rel="stylesheet" type="text/css" href="/static/main_page.css"> {{ end }}

{{ define "source" }} 
    <div class="background"> </div>
    <h1 align="center"> Bulletin board website </h1>
    <h4 align="center"> Our links: </h4>

    <div class="links">
        <a href="http://localhost:8080/main/"> Main page </a> <br>
        <a href="http://localhost:8080/bulletin/"> Bulletins </a> <br>
        <a href="http://localhost:8080/bulletin/add/"> Add your bulletin </a> 
    </div>

    <h3 align="center">How delete bulletin?</h3>
    <h4 align="center"> http://localhost:8080/bulletin/delete?id=[bulletin id]</h4>

    <h3 align="center">How update bulletin?</h3>
    <h4 align="center"> http://localhost:8080/bulletin/update?update=[your new info]&field=[Name/Description/Price/Contacts]&id=[bulletin id]</h4>
    <div class="banner"></div>
{{ end }}